/* Animations
===================== */

.page {

  &.ng-leave {
    z-index: 8888;
    animation:slideOutTop 0.5s both ease-in;
  }

  &.ng-enter {
    z-index: 7777;
    animation:slideInBottom 0.5s both ease-in;
  }

}

nav {
  &.prev, &.next {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1s;
  }
}

/* Animations: keyframes */

/* slide in from the bottom */
@keyframes slideInBottom {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/* slide out from the top */
@keyframes slideOutTop {
    to      { transform: translateY(-100%); }
}

@keyframes fadeIn { 
  from      { opacity:0; }
  to        { opacity:1; }
}