/* leaving animations */
@keyframes slideOutTop {
  to { transform: translateY( -100% ); }
}


/* entering animations */
@keyframes slideOutBottom {
  from { transform: translateY( 100% ); }
  to   { transform: translateY( 0 ); }
}