$off-black : #1a1a1a;
$off-white : #e5e5e5;
$salmon    : #ff4059;
$gold      : #a0903e;

.page-home { 
  background-color: $off-black;
}

.page-definition { 
  background-color: $salmon;
}

.page-mission {
  background-color: $gold;
}

.page-gallerylanding {
  background-color: $off-white;
}

.page-bloglanding {
  background-color: $salmon;
}