/* Pages
===================== */
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  height: 100%;

  @include bp( sm ) {
    background-attachment: scroll;
  }

  @include bp( md ) {
    background-attachment: scroll;
  }
}

#page-home .bcg { 
  background-image: url( "../images/home-bg.jpg" );
  background-color: $off-black;
  
  #arrow {
		width:100%;
		padding-bottom: 10px; 
		text-align: center;
		position: absolute; 
		bottom:0;
		-webkit-animation: fade 4s;
    -webkit-animation-fill-mode: both;
  }
  
  @-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
	}
	
}

#page-definition .bcg { 
  background-image: url( "../images/definition-bg.jpg" );
  background-color: $off-black;
  color: $gold;
  
  .btn {
    background-color: $gold;
    border-color: $gold;
  }
}

#page-mission .bcg {
  background-color: $off-black;
  color: $salmon;

  .btn {
    background-color: $salmon;
    border-color: $salmon;
  }
}

#page-eventslanding .bcg {
  background-image: url( "../images/events-bg.jpg" );
  background-color: $off-black;
  color: $off-white;
  
  .btn {
    background-color: transparent;
    border-color: $off-white;
  }
  
  #bottom-container {
	position: relative;
	height: 100vh;
	margin-left: 50px;
  }

  #bottom {
	position: absolute;
	padding-bottom: 20px;
	bottom: 0px;
  }
  
  #spacer {display: inline;}
  
  #event-center {text-align: center;}
}

#page-bloglanding .bcg {
  background-image: url( "../images/blog-bg.jpg" );
  background-color: $salmon;
  color: $off-white;
  
  .btn {
    background-color: $gold;
    border-color: $gold;
  }
  
  #social-contact {margin-top:30px;}
}