.page-home { 
  background-color: $off-black;
}

.page-definition { 
  background-color: $salmon;
  color: $gold;
}

.page-mission {
  background-color: $off-black;
  color: $salmon;
}

.page-gallerylanding {
  background-color: $gold;
  color: $off-white;
}

.page-bloglanding {
  background-color: $salmon;
  color: $off-white;
}