/* Shared
===================== */
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.flex-zone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar {
  z-index: 9999;
}