/* Typography
===================== */

$toasted-fonts: "Helvetica Neue", "Helvetica", "Open Sans", "Arial";

body {
  font-family: $toasted-fonts;
  font-weight: light;
  font-weight: 300;
  font-size: 100%;
  
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  
}

/* Typography: Page specific  */
#page-definition { 
  color: $gold;

  h1 {
    text-transform: uppercase;
    font-size: emCalc( 100px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
  }
  p {
    &.phonetic, &.part {
      color: $off-white;
      font-size: emCalc( 70px );
      font-weight: lighter;
      letter-spacing: emCalc( 2px );
    }
    &.def {
      font-size: emCalc( 47px );
      font-weight: lighter;
      letter-spacing: emCalc( 2px );
    }
  }
}

#page-mission {
  color: $salmon;
  text-transform: uppercase;

  h1 {
    font-size: emCalc( 100px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
    text-align: center;
  }
  p {
    font-size: emCalc( 64px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
    text-align: center;

    &.tagline {
      padding-top: emCalc( 2px );
    }

    &.desc {
      padding-top: emCalc( 12px );
      margin-bottom: emCalc( 16px );
    }
  }

  a.btn {
    padding: 14px 20px;
    font-size: ( 18px );
  }


}

#page-eventslanding {
  color: $off-white;
  h1 {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: emCalc( 2px );
  }
  
  p {
    font-size: emCalc( 28px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
    text-align: center;
    padding: 15px 0;
  }
}

#page-bloglanding {
  color: $off-white;
}

/* Typography: Nav  */
.main-nav {
  a {
    font-size: emCalc( 24px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
    line-height: emCalc( 30px );
  }
}