/* Typography
===================== */

$toasted-fonts: "Helvetica Neue", "Helvetica", "Open Sans", "Arial";

body {
  font-family: $toasted-fonts;
  font-weight: light;
  font-weight: 300;
  font-size: 100%;
  
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  
}

/* Typography: Page specific  */
#page-definition { 
  color: $gold;

  h1 {
    text-transform: uppercase;
    font-size: emCalc( 100px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
  }
  p {
    &.phonetic, &.part {
      color: $off-white;
      font-size: emCalc( 70px );
      font-weight: lighter;
      letter-spacing: emCalc( 2px );
    }
    &.def {
      font-size: emCalc( 47px );
      font-weight: lighter;
      letter-spacing: emCalc( 2px );
    }
  }
}

#page-mission {
  color: $salmon;
  text-transform: uppercase;

  h1 {
    font-size: emCalc( 100px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
  }
  p {
    font-size: emCalc( 64px );
    font-weight: lighter;
    letter-spacing: emCalc( 2px );
  }
}

#page-gallerylanding {
  color: $off-white;
}

#page-bloglanding {
  color: $off-white;
}